<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
	<bean id = "componentAObject" class = "project1.artifact1.ComponentA">
		<property name="my_int" value ="10"/>
		<property name="my_int2" value ="20"/>
	</bean>
	
	<bean id = "appObject" class = " project1.artifact1.App">
		<property name="ComponentAObject" ref="componentAObject"/>
	</bean>
   
</beans>